.venv/
external
.west
**/build*/
.vscode/compile_commands.json
**/local.conf
binaries

node_modules/

# PlatformIO
.vscode/c_cpp_properties.json
.vscode/launch.json
.pio
app_version.h

# tinybird
.tinyb

.idea
.DS_Store

website/scripts/provisioning
