.venv/
external
.west
**/build*/
.vscode/compile_commands.json
**/local.conf
binaries

node_modules/

.DS_Store

# PlatformIO
.vscode/c_cpp_properties.json
.vscode/launch.json
.pio
app_version.h
