mainmenu "Korra Firmware application"

choice
    prompt "Kind of application"

config APP_KIND_KEEPER
    bool "keeper"

config APP_KIND_POT
    bool "pot"

endchoice

config APP_NAME
    string
    default "Keeper" if APP_KIND_KEEPER
    default "Pot" if APP_KIND_POT

config SENSORS_READ_PERIOD_SECONDS
    int "Interval for collecting sensor data in seconds"
    default 60

config SNTP_SERVER_ADDRESS
    string "SNTP server address"
    default "pool.ntp.org"
    depends on SNTP

config SNTP_SERVER_PORT
	int "SNTP server port"
	default 123
    depends on SNTP

config SNTP_SERVER_TIMEOUT_SECONDS
	int "Duration to wait for response in seconds"
	default 4
    depends on SNTP

config BOARD_HAS_CELLULAR
    bool "Whether to board has Cellular"
    default n
    select BOARD_HAS_INTERNET

config BOARD_HAS_ETHERNET
    bool "Whether to board has Ethernet"
    default n
    select BOARD_HAS_INTERNET
    select NET_ARP

config BOARD_HAS_WIFI
    bool "Whether to board has WiFi"
    default n
    select BOARD_HAS_INTERNET
    select WIFI
    select WIFI_ESP32 if SOC_SERIES_ESP32S3
    select WIFI_NRF70 if BOARD_NRF7002DK
    select WIFI_NXP if SOC_SERIES_RW6XX
    select NET_CONNECTION_MANAGER_CONNECTIVITY_WIFI_MGMT if !WIFI_NRF70

    # # TODO: remove these conditions once WPS_SUPPLICANT for ESP32 has been fixed
    # https://github.com/zephyrproject-rtos/zephyr/issues/91757
    select WIFI_NM_WPA_SUPPLICANT if !SOC_SERIES_ESP32S3
    select WIFI_NM_WPA_SUPPLICANT_CRYPTO_ENTERPRISE if !SOC_SERIES_ESP32S3
    select WIFI_NM_WPA_SUPPLICANT_ROAMING if !SOC_SERIES_ESP32S3
    select WIFI_NM_WPA_SUPPLICANT_DPP if !SOC_SERIES_ESP32S3
    select WIFI_NM_WPA_SUPPLICANT_CRYPTO_MBEDTLS_PSA if !SOC_SERIES_ESP32S3 && !BOARD_NRF7002DK

config BOARD_HAS_INTERNET # Invisible because it has no prompt (no string after bool)
    bool
    select ENTROPY_GENERATOR
    select ENTROPY_ESP32_RNG if SOC_SERIES_ESP32S3
    select ENTROPY_MCUX_TRNG if SOC_SERIES_RW6XX
    # Entropy on nRF5340 is only available natively on cpunet but not cpu app
    # In cpuapp you have to use HCI to get random data which means selecting ENTROPY_BT_HCI
    # which requires BT_HCI_HOST or BT either of which bring in the whole Bluetooth stack!
    select TEST_RANDOM_GENERATOR if SOC_NRF5340_CPUAPP
    select ENTROPY_NRF5_RNG if SOC_SERIES_NRF54X
    select NET_CONNECTION_MANAGER
    select NETWORKING
    select NET_LOG # Network debug config
    select NET_L2_ETHERNET # Enable Ethernet (required for WiFi)
    select NET_IPV4
    select NET_IPV6
    select NET_SOCKETS
    select NET_TCP
    select NET_UDP
    select NET_DHCPV4 # Get IPv4 address from DHCP
    select NET_DHCPV6 # Get IPv6 address from DHCP
    select DNS_RESOLVER # Enable DNS resolver
    select NET_HOSTNAME_ENABLE
    select NET_HOSTNAME_UNIQUE
    select SNTP
    select POSIX_API
    # support for TLSv1.3
    select MBEDTLS_TLS_VERSION_1_3 if !BOARD_NRF7002DK
    select MBEDTLS_PSA_CRYPTO_CLIENT if !BOARD_NRF7002DK
    select PSA_WANT_ALG_HKDF_EXTRACT if !BOARD_NRF7002DK
    select PSA_WANT_ALG_HKDF_EXPAND if !BOARD_NRF7002DK
    select PSA_WANT_ALG_SHA_256 if !BOARD_NRF7002DK
    select PSA_WANT_ALG_SHA_384 if !BOARD_NRF7002DK

if BOARD_HAS_WIFI
config WIFI_SCAN_NETWORKS
    bool "Whether to scan WiFi networks"
    default n

config WIFI_CREDENTIALS_STATIC_TYPE_EAP_PEAP_MSCHAPV2
    bool "EAP-PEAP-MSCHAPV2"
    # depends on !WIFI_CREDENTIALS_STATIC
    depends on !WIFI_CREDENTIALS_STATIC_TYPE_OPEN
    depends on !WIFI_CREDENTIALS_STATIC_TYPE_PSK
    depends on !WIFI_CREDENTIALS_STATIC_TYPE_PSK_SHA256
    depends on !WIFI_CREDENTIALS_STATIC_TYPE_SAE
    depends on !WIFI_CREDENTIALS_STATIC_TYPE_WPA_PSK
    default n

config WIFI_CREDENTIALS_STATIC_EAP_ANON_ID
    string "Enterprise Identity (anonymous)"
    default "anonymous"

config WIFI_CREDENTIALS_STATIC_EAP_IDENTITY
    string "Enterprise Identity (Username)"

config WIFI_CREDENTIALS_STATIC_EAP_PASSWORD
    string "Enterprise Password"

endif # BOARD_HAS_WIFI

source "Kconfig.zephyr"
